@font-face {
	src: url('../fonts/Gilroy-Semibold.otf') format('opentype');
	font-family: 'Gilroy Semibold';
	font-weight: normal;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Gilroy-Regular.otf') format('opentype');
	font-family: 'Gilroy Regular';
	font-weight: normal;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Gilroy-Light.otf') format('opentype');
	font-family: 'Gilroy Light';
	font-weight: normal;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Gilroy-Bold.otf') format('opentype');
	font-family: 'Gilroy Bold';
	font-weight: normal;
	font-style: normal;
}

@font-face {
	src: url('../fonts/Gilroy-Black.otf') format('opentype');
	font-family: 'Gilroy Black';
	font-weight: normal;
	font-style: normal;
}
@font-face {
	src: url('../fonts/Gilroy-MediumItalic.otf') format('opentype');
	font-family: 'Gilroy MItalic';
	font-weight: normal;
	font-style: normal;
}


// Gilroy-UltraLightItalic.otf
// Gilroy-UltraLight.otf
// Gilroy-ThinItalic.otf
// Gilroy-Thin.otf
// Gilroy-SemiboldItalic.otf
// Gilroy-Semibold.otf
// Gilroy-RegularItalic.otf
// Gilroy-Regular.otf
// Gilroy-MediumItalic.otf
// Gilroy-Medium.otf
// Gilroy-LightItalic.otf
// Gilroy-Light.otf
// Gilroy-HeavyItalic.otf
// Gilroy-Heavy.otf
// Gilroy-ExtraboldItalic.otf
// Gilroy-Extrabold.otf
// Gilroy-BoldItalic.otf
// Gilroy-Bold.otf
// Gilroy-BlackItalic.otf
// Gilroy-Black.otf