* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

img {
  width: 100%;
}

@font-face {
  src: url("../fonts/Gilroy-Semibold.otf") format("opentype");
  font-family: "Gilroy Semibold";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("../fonts/Gilroy-Regular.otf") format("opentype");
  font-family: "Gilroy Regular";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-family: "Gilroy Light";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("../fonts/Gilroy-Bold.otf") format("opentype");
  font-family: "Gilroy Bold";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("../fonts/Gilroy-Black.otf") format("opentype");
  font-family: "Gilroy Black";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("../fonts/Gilroy-MediumItalic.otf") format("opentype");
  font-family: "Gilroy MItalic";
  font-weight: normal;
  font-style: normal;
}
body {
  background-image: url(../imgs/bg-dubai.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  width: 100%;
  height: auto;
}
.main .content-contato {
  margin: 60px 0;
}
.main .content-contato h1 {
  color: #FFFFFF;
  font-family: "Gilroy Regular";
  font-size: 1.06rem;
  text-transform: uppercase;
  margin-top: 20px;
}
.main .content-contato h4 {
  color: #FFFFFF;
  font-family: "Gilroy Regular";
  font-size: 1rem;
  margin-top: 20px;
}
.main .content-contato .form-row {
  margin: 10px 0;
}
.main .content-contato .content-wedo {
  position: relative;
}
.main .content-contato .content-wedo .passos {
  max-width: 430px;
}
.main .content-contato .content-wedo .fleet {
  position: relative;
  margin: 30px 0;
}
@media (min-width: 768px) {
  .main .content-contato .content-wedo .fleet {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    margin: 0;
  }
}
.main .content-contato .content-form-wedo {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  padding: 30px;
}
.main .content-contato .content-form-wedo textarea, .main .content-contato .content-form-wedo input, .main .content-contato .content-form-wedo select, .main .content-contato .content-form-wedo button {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
.main .content-contato .content-form-wedo form input[type=text], .main .content-contato .content-form-wedo form input[type=email], .main .content-contato .content-form-wedo form input[type=tel] {
  font-size: 15px;
}
.main .content-contato .content-form-wedo form input[type=text].error, .main .content-contato .content-form-wedo form input[type=email].error, .main .content-contato .content-form-wedo form input[type=tel].error {
  border: 2px solid red;
}
.main .content-contato .content-form-wedo form input[type=checkbox].error {
  box-shadow: 200px 200px 5px 200px rgba(255, 0, 0, 0.75) inset;
}
.main .content-contato .content-form-wedo form .form-check-inline {
  margin: 0;
}
.main .content-contato .content-form-wedo form input[type=text],
.main .content-contato .content-form-wedo form input[type=email],
.main .content-contato .content-form-wedo form input[type=tel],
.main .content-contato .content-form-wedo form input[type=checkbox] {
  color: #fff;
  background-color: transparent;
  border-bottom: #6bdbff 1px solid;
}
.main .content-contato .content-form-wedo form input[type=text]::-moz-placeholder, .main .content-contato .content-form-wedo form input[type=email]::-moz-placeholder, .main .content-contato .content-form-wedo form input[type=tel]::-moz-placeholder, .main .content-contato .content-form-wedo form input[type=checkbox]::-moz-placeholder {
  color: #fff;
  font-family: "Gilroy Regular";
}
.main .content-contato .content-form-wedo form input[type=text]:-ms-input-placeholder, .main .content-contato .content-form-wedo form input[type=email]:-ms-input-placeholder, .main .content-contato .content-form-wedo form input[type=tel]:-ms-input-placeholder, .main .content-contato .content-form-wedo form input[type=checkbox]:-ms-input-placeholder {
  color: #fff;
  font-family: "Gilroy Regular";
}
.main .content-contato .content-form-wedo form input[type=text]::placeholder,
.main .content-contato .content-form-wedo form input[type=email]::placeholder,
.main .content-contato .content-form-wedo form input[type=tel]::placeholder,
.main .content-contato .content-form-wedo form input[type=checkbox]::placeholder {
  color: #fff;
  font-family: "Gilroy Regular";
}
.main .content-contato .content-form-wedo form input[name=nomeCompleto],
.main .content-contato .content-form-wedo form input[name=email],
.main .content-contato .content-form-wedo form input[name=tel] {
  width: 100%;
  margin-top: 10px;
}
.main .content-contato .content-form-wedo form label {
  color: #fff;
}
.main .content-contato .content-form-wedo form .form-row.checks {
  flex-wrap: nowrap;
}
.main .content-contato .content-form-wedo form .btn-sub .col-md-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 20px;
}
.main .content-contato .content-form-wedo form .btn-sub .col-md-12 button[type=submit] {
  background-color: #6bdbff;
  padding: 11px 20px;
  border-radius: 5px;
  color: #474A51;
  font-family: "Gilroy Bold";
  cursor: pointer;
  transition: all 0.3s;
}
.main .content-contato .content-form-wedo form .btn-sub .col-md-12 button[type=submit]:hover {
  background-color: #1f2a68;
  color: #FFFFFF;
}
.main .success {
  display: none;
  color: #f8c401;
  text-transform: uppercase;
}
.main .loader {
  display: none;
}
.main .loader .lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.main .loader .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #26c980;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #26c980 transparent transparent transparent;
}
.main .loader .lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}
.main .loader .lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.main .loader .lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}
@-webkit-keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */